@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    overflow-x: hidden !important;
    font-family: 'Poppins', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Abril Fatface', cursive !important;
}

.fatface {
    font-family: 'Abril Fatface', cursive !important;
}

.main-container {
    position: relative;
    background-image: url('/bg-img.jpg');
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.z-index-max {
    position: relative;
    z-index: 999;
}

:where(.css-dev-only-do-not-override-9xyu4d).ant-btn-primary {
    color: #fff;
    background-color: #000000 !important;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 687px) {
    .main-container {
        background-image: url('/bg-img-mobile.jpg');
    }
    .overlay {
        background-color: rgba(0, 0, 0, 0.5);
    }
}
